parameters:
    excludePaths:
        analyse:
            - vendor
    ignoreErrors:
        - '#Unsafe usage of new static\(\)#'
        - '#.*has invalid type Doctrine\\DBAL\\Driver\\ResultStatement#'
        - '#Conditional return type uses subject type T which is not part of PHPDoc @template tags#'
