parameters:
    excludePaths:
        analyse:
            - vendor
    ignoreErrors:
        - '#Unsafe usage of new static\(\)#'
        - '#.*has invalid type Doctrine\\DBAL\\Driver\\ResultStatement#'
